*.sif
*.png
*.csv
*.tsv
*.pt
*.log
*.pickle
*.pkl
*_checkpoints_*
*.vscode
*__pycache__
*my_data/HILIC_knowns
*my_data/HILIC_Pretraining
*my_data/HILIC_Posttraining
*my_data/sample_data_0001
*.pyc
*documentation/
